<!DOCTYPE html>
<html>
    <Head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </Head>
    <body>
        <div class="container-lg px-5 my-5 markdown-body">
            <!-- Header -->
            <p>This is where the header is going to go</p>

            <!-- Body -->
            {{ content }}

            <!-- Footer -->
            <p>This is where the footer is going to go</p>
        </div>
    </body>
</html>